html, body {
    height: 100%;
    
    display: flex;
    flex-direction: column;
  }
  
  body > * {
    flex-shrink: 0;
}

:root {
    --var-bg: white;
    --var-2bg: #F3F7FC;
    --var-fontcolor: black;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  #myLinks {
    display: none;
    float: left;
    background-color: white;
    transition: left 1s;
    font-size: 24px;
    padding: 10px;
  }

  .search-bar{
      float: right;
      padding: 10px;
  }
  .search-button{
      background-color: black;
      color: white;
      float: right;
      padding: 10px;
      margin-top: 5px;
      margin-right: 10px;
      
  }
  .search-button:hover{
      background-color: white;
      color: black;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.3s;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    float: left;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
    float: left;
  }
  
  .dashboard {
      background-color: var(--var-2bg);
      
      padding-top: 16px;
      margin: 0px;
      height: 93%;
      overflow: overlay;
  }
  .inner-dashboard {
      margin-left:16px;
      margin-right:16px;
      padding: 16px;
      overflow: overlay;
      background-color: var(--var-bg);
      
  }
  
  .main-card {
      background-color: white;
      box-sizing: border-box;

  }
  .inbox-card{
    border-radius: 10px;
    /*border: 2px solid #73AD21;*/
    /*border: 1px solid black;*/
    box-shadow: 1px 1px 2px 2px #C6CACC;

    width: 39%;
    height: 820px;
    margin-left: 10px;
    float: left;
    overflow:hidden;
    display: flex;
    flex-direction:column;
  }

  .labs-card {
    border-radius: 10px;
    /*border: 2px solid #73AD21;*/
    /*border: 1px solid black;*/
    box-shadow: 1px 1px 2px 2px #C6CACC;
    width: 60%;
    height: 820px;
    float:left;
    overflow:hidden;
    display: flex;
    flex-direction:column;
  }


  .card-header {
      font-weight: bold;
      font-size: 48px;
      box-sizing: border-box;
      color: #27AE60;
      padding: 10px;
      padding-left: 20px;
      border-bottom: 1px solid #C6CACC;
  }


  .labs-card-nav {
    box-shadow: 1px 1px 2px 2px #C6CACC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 102%;
    padding: 5px;
    margin-left: -10px;
  }
  
  .card-list{
      overflow:scroll;
      overflow-x: hidden;
  }

    .card-list::-webkit-scrollbar{
        width: 12px;
        border-bottom-right-radius: 10px;
    }
    .card-list::-webkit-scrollbar-track {
        background: #C6CACC;        /* color of the tracking area */
        border-bottom-right-radius: 10px;
    }

    .card-list::-webkit-scrollbar-thumb {
        background-color: #727D92;    /* color of the scroll thumb */

        border-bottom-right-radius: 10px;      /* roundness of the scroll thumb */
        /*border: 3px solid #727D92;  /* creates padding around scroll thumb */
    }

  .lab-name{
    font-weight: bold;
    font-size: 24px;
    box-sizing: border-box;
    color: #27AE60;
    padding-bottom: 10px;
    /*border: 3px solid black;*/
  }

  .float-lab-container {
    padding: 20px;
    padding-bottom: 10px;
    /*border: 3px solid black;*/
    overflow: auto;
  }
  .float-child-picture{
      float: left; 
      width: 30%;
      /*border: 3px solid red;*/
  }
  .float-child-lab-description{
      padding: 20px;
      padding-top: 5px;
      float: left;
      color: var(--var-fontcolor);
      width: 65%;
      /*border: 3px solid red;*/
      
  }
  .challenge-containers-table{
      border: 1px solid #C6CACC;
      border-radius: 10px;
      overflow: scroll;
      white-space:nowrap;
      display:table;
  }
  .aria-name{
      color: #27AE60;
      font-size: 18px;
      font-weight: bold;
      padding: 10px;
      padding-bottom: 0px;
  }
  .tr{
      display:table-row;
  }
  .challenge-picture{
      width: 20%;
      float:left;
      padding: 10px;
      display:table-cell;
  }

  .sender{
      color:#27AE60;
      padding: 20px;
      padding-bottom: 0px;
  }
  .message{
      color:var(--var-fontcolor);
      padding: 10px;

      padding-top: 20px;
      padding-bottom: 15px;
  }
  .time-sent{
      color:var(--var-fontcolor)
  }
img {
    width: 100%;
}
.profile-pic{
    border-radius: 50%;
    width: 50px;
    float:left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.card-header{
    float:left;
}
.breakline{
    border-top: 1px solid #C6CACC;
}
